export(
	birdstate
       ,bootci.dc
       ,codes2names
       ,critical.check.ringing.event
       ,dayofyear
       ,dc
       ,decimal.coord
       ,dmvnorm
       ,draw.map
       ,draw.recmap
       ,loxodrom.dir
       ,loxodrom.dist
       ,mdy.date
 #     ,mercatorbreite
       ,mercatorlat
       ,orthodrom.dist
       ,overlap
       ,place2name
       ,read.euring2000
       ,read.euring2000plus
       ,scheme2country
 #     ,schemes   # data sets are not part of the namespace
 #     ,conditions
 #     ,circumstances
 #     ,species
	)
importFrom(lazyData, requireData)
importFrom(raster, extent)
importFrom(rgeos, gIntersects, gIntersection, gDifference, gUnionCascaded)
importFrom(geosphere,gcIntermediate, distRhumb, distMeeus)
#importFrom(ks, kde, Hpi)
#importFrom(reshape, melt, cast)


  importFrom("grDevices", "dev.off", "grey", "jpeg", "png", "rainbow", "tiff")
  importFrom("graphics", ".filled.contour", "axis", "legend", "lines", "par", "polygon", "rect", "hist")
  importFrom("methods", "as", "slot", "slot<-")
  importFrom("stats", "density", "mahalanobis", "optim", "quantile", "runif", "median")
  importFrom("utils", "data", "read.table")

import(rgdal)
import(rworldmap)
import(rworldxtra)
import(sp)
import(ks)
#import(reshape)

